////
/// Core Setting : Grid
/// @group core
////
@use 'sass:map';

$grid-settings: null;

$grid-settings-default: (
  columns: 12,
  breakpoints: (
    first: (
      gutter: 2v
    ),
    lg: (
      gutter: 3v
    ),
    xl: (
      max-width: 300v
    )
  )
);

@mixin set-breakpoints($v) {
  $dsfr-breakpoints-v:  map.get($grid-settings-default, breakpoints);
  $v: (breakpoints: map.deep-merge($v, $dsfr-breakpoints-v));

  $grid-settings: map.deep-merge($grid-settings-default, $v) !global;
}

@function get($name: null) {
  $settings: if($grid-settings == null, $grid-settings-default, $grid-settings);

  @if $name == null {
    @return $settings;
  } @else {
    @if map.has-key($settings, $name) == false {
      @error 'Unknown property `#{$name}` into $grid-settings.';
    }

    @return map.get($settings, $name);
  }
}
